.dialog {
  position: absolute;
  top: calc(50% - 150px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes text-animation {
  from {width: 0%;}
  to {width: 100%;}
}

.dialog-content {
  animation-name: text-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
  padding: 10px;
  font-size: 25px;
  font-family: pixel-font, sans-serif;
}