.dialog {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-25%);
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
}

@keyframes text {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dialog-key {
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  border: 3px gold solid;
}

.dialog-content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  font-size: 25px;
  font-family: pixel-font, sans-serif;
}

.dialog-animation-text {
  animation-name: text;
  animation-duration: 1s;
  animation-timing-function: linear;
}

.dialog-animation-fade {
  animation-name: fadeIn;
  animation-duration: 200ms;
  animation-timing-function: linear;
}
